// Roboto Condensed Font
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

// Bootstrap
@import "~bootstrap/scss/bootstrap";

// Font-Awesome
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

// Custom
$navBar: #1a466e;
$background: #d1d1d1;
$text: #858585;

body{
  font-family: 'Roboto Condensed';
  background-color: $background;
  color: $text;
}

.navbar{
  margin-bottom: 2rem;
}

.bg-dark-blue{
  background-color: $navBar;
}

.modal-header{
  border-bottom: 0;
}

.modal-footer{
  border-top: 0;
}

h1{
  margin-bottom: 0;
}
